[submodule "Logging"]
	path = Logging
	url = git@github.com:luceralabs/Arduino-logging-library.git
[submodule "ds3234"]
	path = ds3234
	url = git@github.com:luceralabs/ds3234.git
[submodule "SFEMP3Shield"]
	path = SFEMP3Shield
	url = git@github.com:luceralabs/Sparkfun-MP3-Player-Shield-Arduino-Library.git
[submodule "SdFat"]
	path = SdFat
	url = git@github.com:luceralabs/Sparkfun-MP3-Player-Shield-Arduino-Library.git
[submodule "EventManager"]
	path = EventManager
	url = git@github.com:luceralabs/arduino-EventManager.git
[submodule "WiFlyHQ"]
	path = WiFlyHQ
	url = git@github.com:luceralabs/WiFlyHQ.git
[submodule "ds3231"]
	path = ds3231
	url = git@github.com:luceralabs/ds3231.git
[submodule "MemoryFree"]
	path = MemoryFree
	url = git@github.com:luceralabs/MemoryFree.git
[submodule "DFPlayer-Mini-mp3"]
	path = DFPlayerMini
	url = git@github.com:luceralabs/DFPlayer-Mini-mp3.git
