[submodule "Logging"]
	path = Logging
	url = git@github.com:luceralabs/Arduino-logging-library.git
[submodule "ds3234"]
	path = ds3234
	url = git@github.com:luceralabs/ds3234.git
[submodule "SFEMP3Shield"]
	path = SFEMP3Shield
	url = git@github.com:luceralabs/Sparkfun-MP3-Player-Shield-Arduino-Library.git
[submodule "SdFat"]
	path = SdFat
	url = git@github.com:luceralabs/Sparkfun-MP3-Player-Shield-Arduino-Library.git
